<%- include("../partials/header.ejs") %>
<header>
  <div class="container" style="margin-top: 30px">
	<div class="jumbotron text-center" style="background-color: magenta;">
		<h2>Yelp Campgrounds</h2>
		<h4>View our hand picked campgrounds from all over the world</h4>
		<a class="btn btn-lg btn-primary" href="/campgrounds/new"> Create a new Campground </a>
    </div>    
    </div>
</header>
  <div class="container">
	<div class= "row imagegrid">

		<% campgrounds.forEach(function(camp){  %>

			<div class = "col-lg-4 col-md-3 col-sm-6 col-xs-6">
				<div class = "thumbnail">
					<div class = "caption">
				    <h4 class="text-center"> <%= camp.name %> </h4>
				    </div>
						<img src= <%= camp.image %> >

						<p class="caption" style="text-align:center;">
							<a href="/campgrounds/<%= camp._id %>" class="btn btn-primary"> More Info</a>
						</p>
				</div>
			</div>

		<% }); %>
	</div>
</div>

<%- include("../partials/footer") %>