<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
</head>


<body>
	<nav class="navbar navbar-default no-margin">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand"> GoCamp!</a>

				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
                        <% if(typeof page !== 'undefined' && page === 'campgrounds') { %>
                            <li class="active">
                                <a>Home</a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="/campgrounds">Home</a>
                            </li>    
                        <% }    %>
                        <% if(!currentUser) { %>
                            <% if(typeof page !== 'undefined' && page === 'login') { %>
                                <li class="active">
                                    <a>Login</a>
                                </li>
                            <% } else { %>
                                <li>
                                    <a href="/login">Login</a>
                                </li>    
                            <% }    %>
                            <% if(typeof page !== 'undefined' && page === 'register') { %>
                                <li class="active">
                                    <a>Sign Up</a>
                                </li>    
                             <% } else { %>
                                    <li>
                                        <a href="/register">Sign Up</a>
                                    </li>    
                            <% }    %>                           
                       <% } else { %>
                        <% if(typeof page !== 'undefined' && page === 'logout') { %>
                            <li class="active">
                                <a>Log Out</a>
                            </li>    
                         <% } else { %>
                                <li>
                                    <a href="/logout">Log Out</a>
                                </li>    
                        <% }    %> 
                        <% if(typeof page !== 'undefined' && page === 'profile') { %>
                            <li class="active">
                                <a>Logged in as <%=currentUser.username.toUpperCase() %></a>
                            </li>  
                         <% } else { %>
                            <li>
                                <a href="../users/<%=currentUser._id%>">Logged in as <%=currentUser.username.toUpperCase() %></a>
                            </li>   
                        <% }    %>              
                    <% } %>
					</ul>

				</div>

			</div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0) { %>

    <div class="alert alert-danger message-display">
    <h3><%= error %></h3>
    </div>
        
        <% } else if (success && success.length > 0) { %>
            <div class="alert alert-success message-display">
        <h3><%= success %></h3>
        </div>
        <% } %>
    </div>